@import 'config';
@import 'menu';


// Default: El atributo puede ser cambiado en cualquier momento, sin importar posicion de declariacon.  
$primary-color: blue !default; 
$size : 200px;
$primary-color: red;
$color: gray;

body {
    color: $primary-color;
    font-size: 2rem;
    padding-top:  $size - 5;
}

p {
    $size: 20px;
    padding-top: $size;
}
//Interpolacion de variables
.#{$color}{
    color: red;
}


//Anidamiento scss maximo 2 niveles, no solo en scss, desde css solo 2 nieves anidamiento
ul {
    animation: menu 1s;

    &:hover {
        color: green;
    }
    &::before {
        content: "contenido";
    }
    li{
        margin: 0;
    }
    a{
        display: block;
    }

    span{
        color: red;
    }

    //Anidamiento con media queries
    @media screen and (min-width: 640px){
        display: flex;
    }

    @keyframes menu {
        to {
            color: red;
        }
        
    }

}


.menu {
    display: block;
  
    //anidar propiedades (no es usual, ni util)
    font: {
        size: 1em;
        style: italic;
        family: arial; 
    }
    // otro ejemplo
    grid-template: {
        columns: 100px 100px;
        rows: auto;
    }
    //se usa & para usar el nombre de la clase o selector en su caso.
    &-item {
        color: red;
    }

}



/* Tipos de datos
    -Strings
    -Numeros
    -Colores
    -Booleans
    -Maps
    -Lists

*/
//Maps 
$colores: (
    primario: red,
    secundario: blue,
    terceario: yellow
);

.maps {
    color: map-get($colores,primario)
}




